* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: sticky;
    background-color: pink;
    border: 5px solid black;
}

h2 {
    font-size: 34px;
}

header >h1 {
    font-size: 40px;
    margin-left: 15px;
}



.navbar {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin-right: 15px;
    align-content: flex-end;
}

.projectcard {
    position: relative;
    display: flex;
    justify-content: center;
}

.cardtext {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
}

#portfolio {
    color: aqua;
}

#abouthead {
    position: relative;
    top: 70px;
    left: 20px;
}

#aboutpara {
    display: flex;
    position: relative;
    left: 220px;
    bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 800px;
    border: 3px dashed aqua;
    font-size: 24px;
}

#cheatsheetimg {
    opacity: 0.5;
    border-radius: 3%;
    width: 900px;
    height: 600px;
}
