* {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 1024) {
    
}

header {
    position: sticky; top: 0;
    background-color: pink;
    border: 5px solid black;
    z-index: 1;
}

h2 {
    font-size: 40px;
}

header >h1 {
    font-size: 40px;
    margin-left: 15px;
}

.navbar {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin-right: 15px;
    align-content: flex-end;
}

.projectcard {
    position: relative;
    display: flex;
    justify-content: center;
}

.cardtext {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
}

.smallercards1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.smallercards2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.smallerimg {
    opacity: 0.5;
    width: 450px;
    height: 300px;
}

.contactnav {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.contact {
    background-color: pink;
    border: 5px solid black;
}

#portfolio {
    color: aqua;
}

#abouthead {
    position: relative;
    top: 80px;
    left: 20px;
}

#aboutpara {
    display: flex;
    position: relative;
    left: 220px;
    bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 800px;
    border: 3px dashed aqua;
    font-size: 24px;
}

#profileimg {
    display: flex;
    position: absolute;
    right: 70px;
    top: 230px;
    width: 200px;
    height: 200px;
}

#cheatsheetimg {
    opacity: 0.5;
    width: 900px;
    height: 600px;
}

#projectshead {
    position: absolute;
    top: 600px;
    right: 20px;
}

#contacthead {
    position: relative;
    left: 20px;
}