header {
    position: sticky;
    background-color: pink;
    border: 5px solid black;
}

header >h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-left: 15px;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin-right: 15px;
    align-content: flex-end;
}

.about {
    font-family: 'Courier New', Courier, monospace;
}

#portfolio {
    color: aqua;
}

#abouthead {
    position: relative;
    font-size: 34px;
    top: 70px;
    left: 20px;
}

#aboutpara {
    display: flex;
    position: relative;
    left: 220px;
    bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 600px;
    border: 3px dashed aqua;
    font-size: 24px;
}